<!-- app/templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head style="margin-top: 50px;">
    <title>{{ title }} | Pet Store Management System</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
          <div class="navbar-header">
              <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">Pet Store Management System</a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  {% if session['sess_loged_username'] %}
                    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('home.listpets') }}">Mascotas</a></li>
                    <li><a href="{{ url_for('home.shoppingcart') }}">Mi Carrito</a></li>
                    <li><a href="{{ url_for('home.orders') }}">Mis Compras</a></li>
                    <li><a><i class="fa fa-user"></i>  Hi, {{ session['sess_loged_username'] }}!</a></li>
                    <li><a href="{{ url_for('home.homelogout') }}">Logout</a></li>
                  {% else %}
                    <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                    <li><a href="{{ url_for('home.listpets') }}">Mascotas</a></li>
                    <li><a href="{{ url_for('home.register') }}">Registrar</a></li>
                    <li><a href="{{ url_for('home.listusers') }}">Login</a></li>
                  {% endif %}
              </ul>
          </div>
        </div>
    </nav>
    <div class="wrapper" style="margin-top: 50px;">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright text-muted small">Copyright © 2021. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>