<!-- app/templates/home/pets.html -->

{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div style="margin-top: 70px;" class="col-lg-12">
            <h2>Historial de Compras</h2>
            <div id="results">
              {% if orders %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Detalle</th>
                    </tr>
                  </thead>
                  {% for order in orders%}
                    <tr>
                      <td>{{ order['timestamp'] }}</td>
                      <td> <a href="/orderat/{{ order['timestamp'] }}"> Ver detalle </a> </td>
                    </tr>
                  {% endfor %}
                </table>
              {% else %}
                No se registran compras.
              {% endif %}
            </div>            
        </div>
    </div>
</div>
{% endblock %}