<!-- app/templates/home/pets.html -->

{% extends "base_2.html" %}
{% block title %}Mascotas{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h2>Mascotas</h2>
                    <hr class="intro-divider">                    
                    </ul>
                    <div id="results">
                      {% if message %}
                        {{ message }} <br> <br>
                      {% endif %}
                      <a href="/registerpet"> Registrar nueva mascota </a> <br>
                      <table class="table table-striped" style="max-width: 300px;">
                        <thead>
                          <tr>
                            <th>Especie</th>
                            <th>Breed</th>
                            <th>Price</th>
                            <th>Stock</th>
                            {% if session['sess_loged_username'] %}
                            <th>--</th>
                            {% endif %}
                          </tr>
                        </thead>
                        {% for pet in pets%}
                        {% if pet['stock'] > 0 %}
                          <tr>
                            <td>{{ pet['specie'] }}</td>
                            <td>{{ pet['breed'] }}</td>
                            <td>{{ pet['price'] }}</td>
                            <td>{{ pet['stock'] }}</td>
                            {% if session['sess_loged_username'] %}
                            <td> <a href="/addpet/{{ pet['id'] }}/{{ pet['price'] }}"> Añadir al carrito </a> </td>
                            {% endif %}
                          </tr>
                        {% endif %}
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}