<!-- app/templates/home/pets.html -->

{% extends "base.html" %}
{% block title %}Carrito de Compra{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div style="margin-top: 70px;" class="col-lg-12">
            <h2>Carrito de Compra</h2>
            <div id="results">
              {% if message %}
                <p class="messages"> {{ message }} </p>
              {% endif %}
              {% if pets %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Especie</th>
                      <th>Raza</th>
                      <th>Cantidad</th>
                      <th>Precio Unitario</th>
                      <th> -- </th>
                    </tr>
                  </thead>
                  {% for pet in pets %}
                    {% if pet['cant'] > 0 %}
                    <tr>
                      <td>{{ pet['specie'] }}</td>
                      <td>{{ pet['breed'] }}</td>
                      <td>{{ pet['cant'] }}</td>
                      <td>{{ pet['unitprice'] }}</td>
                      <td><a href="/deletepet/{{ pet['id_pet'] }}">Eliminar</a></td>
                    </tr>
                    {% endif %}
                  {% endfor %}
                </table>
                <a href="/checkout">Realizar Compra</a>
              {% else %}
                Su carrito está vacío... vea las mascotas de la tienda <a href="{{ url_for('home.listpets') }}">AQUÍ</a>
              {% endif %}
              {% if saldo %}
                <h4 align="right"> Saldo disponible: {{ saldo }} </h4>
              {% endif %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}