<!-- app/templates/home/pets.html -->

{% block title %}Carrito de Compra{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Pet Store Management System</h1>
                    <h3>Pets are the best!</h3>
                    <hr class="intro-divider">                    
                    </ul>
                    <div id="results">
                      <table class="table table-striped" style="max-width: 300px;">
                        <thead>
                          <tr>
                            <th>ID_mascota</th>
                            <th>ID_usuario</th>
                            <th>Cantidad</th>
                            <th>Precio Unitario</th>
                            <th> -- </th>
                          </tr>
                        </thead>
                        {% for pet in pets %}
                        {% if pet['cant'] > 0 %}
                          <tr>
                            <td>{{ pet['id_pet'] }}</td>
                            <td>{{ pet['id_user'] }}</td>
                            <td>{{ pet['cant'] }}</td>
                            <td>{{ pet['unitprice'] }}</td>
                            <td><button type="button">Agregar</button></td>
                          </tr>
                        {% endif %}
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}